@using AirTicketApp.Models.ApplicationUser
@model IEnumerable<ApplicationUserViewModel>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">User name</th>
      <th scope="col">Email</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Phone number</th>
      <th scope="col">Is administrator</th>
      <th scope="col">Passport number</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    @for (int i = 0; i < @Model.Count(); i++)
        {
            if (Model.ElementAtOrDefault(i).IsAdministrator)
            {
                <tr class="table-info">
                   <th scope="row">@(i+1)</th>
                    <td>@Model.ElementAtOrDefault(i).UserName </td>
                    <td>@Model.ElementAtOrDefault(i).Email </td>
                    <td>@Model.ElementAtOrDefault(i).FirstName </td>
                    <td>@Model.ElementAtOrDefault(i).LastName </td>
                    <td>@Model.ElementAtOrDefault(i).PhoneNumber </td>
                    <td><label>✔</label> </td>
                    <td>@Model.ElementAtOrDefault(i).PassportNum</td>
                    <td>
                        <a asp-area="Admin" asp-controller="User" asp-action="RemoveAdminRole" asp-route-id="@Model.ElementAtOrDefault(i).Id" class="btn btn-danger">Remove admin role</a>
                    </td>
                    <td></td>
                </tr>
            }
            else
            {
                <tr>
                   <th scope="row">@(i+1)</th>
                    <td>@Model.ElementAtOrDefault(i).UserName </td>
                    <td>@Model.ElementAtOrDefault(i).Email </td>
                    <td>@Model.ElementAtOrDefault(i).FirstName </td>
                    <td>@Model.ElementAtOrDefault(i).LastName </td>
                    <td>@Model.ElementAtOrDefault(i).PhoneNumber </td>
                    <td><label class="text-center">❌</label></td>
                    <td>@Model.ElementAtOrDefault(i).PassportNum</td>
                    <td>
                        <a asp-area="Admin" asp-controller="User" asp-action="GiveAdminRole" asp-route-id="@Model.ElementAtOrDefault(i).Id" class="btn btn-danger">Give admin role</a>
                    </td>
                </tr> 
            }
        } 
  </tbody>
</table>