@using AirTicketApp.Models.Ticket
@model List<TicketAllViewModel>

<h2>All buyed tickets</h2>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Departure Airport</th>
      <th scope="col">Arrival Airport</th>
      <th scope="col">Departure Date</th>
      <th scope="col">Arrival Date</th>
      <th scope="col">Price</th>
      <th scope="col">Ticket number</th>
    </tr>
  </thead>
  <tbody>
    @for (int i = 0; i < @Model.Count(); i++)
        {
                <tr>
                    <th scope="row">@i</th>
                    <td>@Model.ElementAtOrDefault(i).DepartureAirportName (@Model.ElementAtOrDefault(i).DepartureAirportCode) - @Model.ElementAtOrDefault(i).DepartureCountry, @Model.ElementAtOrDefault(i).DepartureCity </td>
                    <td>@Model.ElementAtOrDefault(i).ArrivalAirportName (@Model.ElementAtOrDefault(i).ArrivalAirportCode) - @Model.ElementAtOrDefault(i).ArrivalCountry, @Model.ElementAtOrDefault(i).ArrivalCity </td>
                    <td>@Model.ElementAtOrDefault(i).ArrivalDate </td>
                    <td>@Model.ElementAtOrDefault(i).DepartureDate </td>
                    <td>@Model.ElementAtOrDefault(i).Price </td>
                    <td>@Model.ElementAtOrDefault(i).TicketId </td>
                </tr> 
        } 
  </tbody>
</table>