@using AirTicketApp.Models.Ticket
@using System.Globalization
@model List<TicketAllViewModel>
@{
    ViewData["Title"] = "Allbuyed tickets";
}
<h2>All buyed tickets</h2>
<table class="table" style="background-color:white">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Departure Airport</th>
      <th scope="col">Arrival Airport</th>
      <th scope="col">Departure Date</th>
      <th scope="col">Arrival Date</th>
      <th scope="col">Price</th>
      <th scope="col">Ticket number</th>
      <th scope="col">Company</th>
    </tr>
  </thead>
  <tbody>
    @for (int i = 0; i < @Model.Count(); i++)
        {
            if (Model.ElementAtOrDefault(i).ArrivalDate<DateTime.Now)
            {
                <tr class="table-danger">
                   <th scope="row">@(i+1)</th>
                    <td>@Model.ElementAtOrDefault(i).DepartureAirportName (@Model.ElementAtOrDefault(i).DepartureAirportCode) - @Model.ElementAtOrDefault(i).DepartureCountry, @Model.ElementAtOrDefault(i).DepartureCity </td>
                    <td>@Model.ElementAtOrDefault(i).ArrivalAirportName (@Model.ElementAtOrDefault(i).ArrivalAirportCode) - @Model.ElementAtOrDefault(i).ArrivalCountry, @Model.ElementAtOrDefault(i).ArrivalCity </td>
                    <td>@Model.ElementAtOrDefault(i).ArrivalDate.ToString("dd MMM yyyy - HH:mm",CultureInfo.CreateSpecificCulture("en-US")) </td>
                    <td>@Model.ElementAtOrDefault(i).DepartureDate.ToString("dd MMM yyyy - HH:mm",CultureInfo.CreateSpecificCulture("en-US")) </td>
                    <td>@Model.ElementAtOrDefault(i).Price.ToString("0.00", CultureInfo.InvariantCulture) </td>
                    <td>@Model.ElementAtOrDefault(i).TicketId </td>
                    <td>@Model.ElementAtOrDefault(i).CompanyName</td>
                </tr>
            }
            else
            {
                <tr>

                 <th scope="row">@(i+1)</th>
                    <td>@Model.ElementAtOrDefault(i).DepartureAirportName (@Model.ElementAtOrDefault(i).DepartureAirportCode) - @Model.ElementAtOrDefault(i).DepartureCountry, @Model.ElementAtOrDefault(i).DepartureCity </td>
                    <td>@Model.ElementAtOrDefault(i).ArrivalAirportName (@Model.ElementAtOrDefault(i).ArrivalAirportCode) - @Model.ElementAtOrDefault(i).ArrivalCountry, @Model.ElementAtOrDefault(i).ArrivalCity </td>
                    <td>@Model.ElementAtOrDefault(i).ArrivalDate.ToString("dd MMM yyyy - HH:mm",CultureInfo.CreateSpecificCulture("en-US")) </td>
                    <td>@Model.ElementAtOrDefault(i).DepartureDate.ToString("dd MMM yyyy - HH:mm",CultureInfo.CreateSpecificCulture("en-US")) </td>
                    <td>@Model.ElementAtOrDefault(i).Price.ToString("0.00", CultureInfo.InvariantCulture) </td>
                    <td>@Model.ElementAtOrDefault(i).TicketId </td>
                    <td>@Model.ElementAtOrDefault(i).CompanyName</td>
                </tr> 
            }
        } 
  </tbody>
</table>